*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:var(--font);
    background:var(--background);
    color:var(--text);
}

a{
    text-decoration:none;
}

button,
input{
    font-family:inherit;
}

button{
    cursor:pointer;
    border:none;
}

img{
    max-width:100%;
}